extends layouts/main

block content
    .container
        .form-container
            form(action=`/users${routes.changePassword}`, method="post")
                input(type="password", name="oldPassword", placeholder="Текущий пароль")
                input(type="password", name="newPassword", placeholder="Новый пароль")
                input(type="password", name="newPassword1", placeholder="Подтвердите новый пароль")
                input(type="submit", value="Сменить пароль").button

