extends layouts/main

block content
    .tracks-home
        .tracks-heading Последние загрузки
        .tracks-list
            each item in tracks
                .tracks-item
                    a(href=routes.trackDetail(item.id))
                        .track-cover Картинка
                        .track-title Название
                        .track-author Автор