extends layouts/main

block content
    .tracks-home
        .container
            .tracks-heading 
                h1 Последние загрузки
            .tracks-list
                .row
                    each item in tracks
                        .col-md-2
                            .tracks-item
                                a(href=routes.trackDetail(item.id))
                                    .track-cover
                                        img(src=`/${item.imageUrl}`, alt=item.title)
                                    .track-title=item.title
                                    .track-author Автор