extends layouts/main

block content
    .tracks-home
        .tracks-heading Последние загрузки
        .tracks-list
            .tracks-item
                a(href="#")
                    .track-cover Картинка
                    .track-title Название
                    .track-author Автор