extends layouts/main

block content
    .container
        .form-container
            form(action=routes.login, method="post")
                input(type="email", name="email", placeholder="Email", required=true)
                input(type="password", name="password", placeholder="Пароль", required=true)
                input(type="submit",value="Войти").button
