extends layouts/main

block content
    .tracks-home
        .tracks-heading Поиск по: #{searchingBy}
        .tracks-list
            if tracks.length === 0
                h5 Ничего не найдено
            else
                each item in tracks
                    .tracks-item
                        a(href=routes.trackDetail(item.id))
                            .track-cover Картинка
                            .track-title=item.title
                            .track-author Автор