extends layouts/main

block content
    .track-detail
        .track-header
            .track-header-audio
                .track-header-play
                    button play
                    .track-header-photo фоточка
                    .track-header-name Автор
                .track-header-bar бар
        .track-body
            .track-description Описание
            .track-comments Комментарии
