extends layouts/main

block content
    .form-container
        form(action=`/tracks${routes.upload}`, method="post", enctype="multipart/form-data")
            div.fileUpload
                label(for="file") Выбрать файл
                input(type="file", id="file", name="trackFile", required=true, accept="audio/*")
            input(type="text", placeholder="Название", name="title", required=true)
            textarea(name="description", placeholder="Описание", required=true)
            input(type="submit", value="Загрузить")
            