extends layouts/main

block content
    .user-detail
        .user-header
            .user-header-photo фоточка
            .user-header-name имя
        .user-tracks
            .user-tracks-item
                a(href="#")
                    .user-tracks-cover Картинка
                    .user-tracks-title Название
                    .user-tracks-author Автор
                    .user-tracks-duration 2:23
                    .user-tracks-date 06.2020