extends layouts/main

block content
    .user-detail
        .user-header(style="background-image: url(/static/assets/images/footer-background.jpg)")
            .container
                .user-header-info
                    .user-header-photo
                        img(src=user.avatarUrl, alt="Image")
                    .user-header-name=user.name
        .user-tracks
            .container
                .user-profile-btns
                    a(href=`/users${routes.editProfile}`) Редактировать
                    a(href=`/users${routes.changePassword}`) Сменить пароль
                a(href="#").user-tracks-item
                    .user-track-cover
                        img(src="/uploads/tracks/99a36d489ef3b6c1a81d443884c89208", alt="Image")
                    .user-track-meta
                        .left
                            .user-track-title Название
                            .user-track-author Автор
                        .right
                            .user-track-duration 2:23
                            .user-track-date 06.2020