footer.footer
    .container
        .footer-content
            .footer-info
                h2 Noisecloud
                p Данное веб-приложение - попытка создания функционала как у сервиса SoundCloud. Естественно возможности сайта очень сильно ограничены, но для первого относительно серьезного приложения вполне сгодится. Всю информацию о приложении можно найти 
                    a(href="https://github.com/unrealstuffs/Noise_Cloud") здесь
            .footer-copy
                p Copyright &copy; #{new Date().getFullYear()} NoiseCloud. All rights reserved