footer.footer
    .container
        .footer-content
            .footer-info
                h2 Noisecloud
                p Тупа стена текста об этом приложении, оно же капец какое крутое мне прям нравится такая идея уруруруурр
            .footer-copy
                p Copyright &copy; #{new Date().getFullYear()} NoiseCloud. All rights reserved