doctype html 
html
    head 
        title #{pageTitle} :: #{siteName}
    body 
        include ../partials/header
        main.main
            block content
        include ../partials/footer