doctype html 
html
    head 
        link(rel="shortcut icon", href="/static/assets/images/favicon.ico", type="image/x-icon")
        title #{pageTitle} :: #{siteName}
        link(rel="stylesheet", href="/static/styles.css")
    body
        include ../partials/header
        main.main
            block content
        include ../partials/footer
        script(src="/static/main.js")