doctype html 
html
    head 
        title #{pageTitle} :: #{siteName}
        link(rel="stylesheet", href="/static/styles.css")
    body
        include ../partials/header
        main.main
            block content
        include ../partials/footer
        script(src="/static/main.js")