audio
    width: 100%
    
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-control-container
    display: none

audio::-webkit-media-controls-enclosure:focus
    outline: none

audio::-webkit-media-controls-enclosure
    background-color: transparent

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display
    text-shadow: none
