@font-face 
    font-family: 'Open Sans'
    src: local('Open Sans'), local('OpenSans'), url('../fonts/OpenSans.woff2') format('woff2')
    font-weight: 400
    font-style: normal

@font-face 
    font-family: 'Open Sans'
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/OpenSansBold.woff2') format('woff2')
    font-weight: 700
    font-style: normal
