::placeholder
    color: #666666

::selection
    background-color: $color-secondary
    color: $color-white

input, textarea
    outline: none
    &:focus:required:invalid
        border-color: red
    &:required:valid
        border-color: green

html
    height: 100%

body
    font-size: 16px
    min-width: 320px
    position: relative
    line-height: 1.65
    font-family: "Open Sans", sans-serif
    font-weight: normal
    overflow-x: hidden
    color: $color-text
    height: 100%
    background-color: $color-background
    display: grid
    grid-template-rows: auto 1fr auto
    grid-template-areas: "." "." "."

h1, h2, h3, h4, h5, h6
    color: $color-secondary
    margin: 0
    padding: 0

a 
    &:hover
        text-decoration: none

.button
    background-color: $color-primary
    padding: 15px 35px
    color: $color-white
    border: none
    outline: none
    font-size: 13px
    transition: background-color .25s
    cursor: pointer
    &:hover
        background-color: lighten($color-primary, 5%)

.button-danger
    background-color: red
    padding: 5px 35px
    &:hover
        background-color: lighten(red, 5%)
        color: $color-white
