.main
    padding: 15px 30px
    max-width: 960px
    width: 100%
    margin: 0 auto

.tracks-heading
    margin-bottom: 15px
    h1
        font-size: 20px

.tracks-list
    display: flex
    flex-wrap: wrap
    width: 100%
    margin: 0 auto
    .tracks-item
        margin: 0 10px 20px 0
        display: flex
        justify-content: flex-start
        align-items: center
        flex: 1 1 calc(10% - 20px)
        .track-cover
            img
                max-height: 180px

@media screen and ( max-width: 456px )
    .tracks-list
        .tracks-item
            justify-content: center
